( filter    Grouped_Package_Keepout  Package_Keepout_sym  Package_Keepout_board    Route_Keepout_sym  Route_Keepout_board    Via_Keepout_sym  Via_Keepout_board    Plated_Holes  NonPlated_Holes    Via_through  Via_blind  Via_buried  Board_Outline  Route_Outline  Package_Keepin  Unplaced_Comp  Placed_Comp  Placement_room  )
