export, ALG:BoardOutline, 
export, ALG:Comp28, 
export, ALG:Comp19, 
export, ALG:Comp27, 
export, ALG:Comp26, 
export, ALG:Comp25, 
export, ALG:Comp24, 
export, ALG:Comp23, 
export, ALG:Comp22, 
export, ALG:Comp21, 
export, ALG:Comp20, 
export, ALG:Comp18, 
export, ALG:Comp17, 
export, ALG:Comp16, 
export, ALG:Comp15, 
export, ALG:Comp11, 
export, ALG:Comp10, 
export, ALG:Comp14, 
export, ALG:Comp13, 
export, ALG:Comp9, 
export, ALG:Comp12, 
export, ALG:Comp1, 
export, ALG:Comp8, 
export, ALG:Comp7, 
export, ALG:Comp6, 
export, ALG:Comp5, 
export, ALG:Comp4, 
export, ALG:Comp3, 
export, ALG:Comp2, 
